*.o
*.so
*.pyc

test_polyanion_grainboundary/*.cif

.DS_Store


#test_polyanion_grainboundary/*/*.cif

GrainBoundaryGenerator.log
*.pdf
generator_dump*
Slab.log
*.log
change_in_git
git_to_be_added

*.egg-info
*pmg_symmetry_error.cif
lammpsdata.lmp
log.lammps
final.lmc
log.lammps
docs/build
docs/build
docs/build/doctrees/environment.pickle
docs/build/doctrees/index.doctree
docs/build/doctrees/modules/pmg_core_surface.doctree
tests/files/cubic-Na3PS4/slab_0.json
tests/files/cubic-Na3PS4/slab_1.json
*.lmp
temp
*.npy
build/
buildlog
activate_env.sh
.vscode
coordination_requirements.dmp
dryrun.*
tests/test_slab_gen_srtio.py
errors.todo
*.whl
*.tar.gz